body.form-modal-open{
  overflow-y: hidden;
}

.form-wrapper {
  position: fixed;
  background-color: var(--clr-form-bg);
  z-index: 10;
  top: 0px;
  left: 0px;
  padding-left: 6.4375em;
  border-radius: 0px 20px 20px 0px;
  transition: background 300ms ease;
}

.form-main {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  max-width: 40em;
  padding: 3.5em 2em 0px 3.5em;
}

.form-heading {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: var(--clr-main-text);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.63px;
  transition: color 300ms ease;
}

.form-btn-wrapper,
.edit-form-wrapper {
  display: flex;
  gap: 0.5rem;
  padding: 2em 0px;
}

.save-btn-wrapper{
  display: flex;
  gap:0.5em;
}
.edit-form-wrapper {
  justify-content: flex-end;
}

.discard-btn {
  margin-right: auto;
  background-color: var(--clr-alt-bg);
  color: var(--clr-sec-text);
  transition: background 300ms ease, color 300ms ease;
}
.draft-btn {
  background-color: var(--clr-draft-btn);
  color: var(--clr-alt-text);
  transition: background 300ms ease, color 300ms ease;
}

.save-send-btn {
  background-color: var(--clr-purple-main);
  color: var(--clr-perma-white);
  transition: background 300ms ease, color 300ms ease;
}
.edit-cancel-btn {
  background-color: var(--clr-alt-bg);
  color: var(--clr-sec-text);
  transition: background 300ms ease, color 300ms ease;
}

.draft-btn:hover {
  background-color: var(--clr-perma-dark);
}
.save-send-btn:hover {
  background-color: var(--clr-purple-sec);
}

.discard-btn:hover {
  background-color: var(--clr-discard-btn-hvr);
}

.edit-cancel-btn:hover {
  background-color: var(--clr-discard-btn-hvr);
}

@media screen and (max-width: 1100px) {
  .form-wrapper {
    padding-left: initial;
    top: 5em;
  }
  .form-main {
    height: calc(100vh - 5em);
    height: -o-calc(100vh - 5em); /* opera */
    height: -webkit-calc(100vh - 5em); /* google, safari */
    height: -moz-calc(100vh - 5em); /* firefox */
  }
}


@media screen and (max-width: 768px) {
  .form-wrapper {
    top: 4.5em;
  }
  .form-main {
    height: calc(100vh - 4.5em);
    height: -o-calc(100vh - 4.5em);
    height: -webkit-calc(100vh - 4.5em); 
    height: -moz-calc(100vh - 4.5em);
    padding: 3.5rem 0.5rem 0px;
  }
}


@media screen and (max-width:640px) {

  .form-wrapper{
    border-radius:0px;
  }
  .form-main {
    width:100vw;
    padding-left:1em;
  }
  .form-btn-wrapper{
    padding:2em 1em;
  }
  
  
  
}

@media screen and (max-width:440px) {

 
  .span-draft-btn{
    display: none;
  }
  .span-save-send-btn{
    display:none;
  }
  
}