.itemList-legend {
  margin-bottom: 1.5em;
  letter-spacing: -0.25px;
  color: var(--clr-perma-alt-ash);
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2rem;
  transition: color 300ms ease;

}

.invoiceForm-item-wrapper{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 0.75fr min-content;
    gap: 1.5em 1em;
    padding-bottom: 1.5em;
    margin-bottom: 1.8em;
   

}

.invoiceForm-item-wrapper  .input-wrapper > input{
    padding:1em 1.25em;
}

.invoiceForm-item-wrapper > :nth-child(1){
    grid-column: 1 / -1;

}
.invoiceForm-item-wrapper > :nth-child(2){
    grid-column: 1 / 2;

}
.invoiceForm-item-wrapper > :nth-child(3){
    grid-column: 2 / 3;
   
}
.invoiceForm-item-wrapper > :nth-child(4){
    grid-column: 3 / 4;
    background-color: transparent;

}
.invoiceForm-item-wrapper > :nth-child(5){
    grid-column: 4 / 5;

}

.disabled-field-total{
    border: none;
    padding: 1em 0;
    color: var(--clr-perma-ash);
    transition: color 300ms ease;
}

.delete-item-btn {
    display: flex;
    align-self: end;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3em;
    padding: 1em 0;
    background: transparent none repeat scroll 0% 0%;
  }
.delete-item-btn .icon-value{
   width:13px;
   height: 16px;
}  