.invoiceStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 1.25em;
  height: 2.5em;
  width: 6.5em;
  transition: background 300ms ease;
}

.invoiceStatus.pending-active {
  background-color: var(--status-pending-bg);
}

.invoiceStatus.paid-active {
  background-color: var(--status-paid-bg);
}
.invoiceStatus.draft-active {
  background-color: var(--status-draft-bg);
}
.invoiceStatus-circle {
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.5em;
  border-radius: 50%;
  transition: background 300ms ease;
}
.invoiceStatus.paid-active .invoiceStatus-circle {
  background-color: var(--status-paid-text);
}
.invoiceStatus.pending-active .invoiceStatus-circle {
  background-color: var(--status-pending-text);
}
.invoiceStatus.draft-active .invoiceStatus-circle {
  background-color: var(--status-draft-text);
}
.invoiceStatus-text {
  font-size: 0.75rem;
  line-height: 1.125;
  letter-spacing: -0.25px;
  font-weight: 700;
  text-transform: capitalize;
  transition: color 300ms ease;
}

.invoiceStatus.paid-active .invoiceStatus-text {
  color: var(--status-paid-text);
}
.invoiceStatus.pending-active .invoiceStatus-text {
  color: var(--status-pending-text);
}
.invoiceStatus.draft-active .invoiceStatus-text {
  color: var(--status-draft-text);
}
