.sidebar-wrapper {
  position: sticky;
  display: flex;
  top: 0px;
  background-color: var(--clr-side-bar);
  flex-direction: column;
  width: initial;
  z-index: 20;
  height: 100vh;
  border-radius: 0px 20px 20px 0px;
}

.logo-wrapper {
  position: relative;
  width: 6.4375em;
  height: 6.4375em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-purple-main);
  border-radius: 0px 20px 20px 0px;
  margin-bottom: auto;
}

.logo-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 50%;
  background-color: var(--clr-purple-sec);
  border-radius: 20px 0;
}

.logo-img {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 37px;
}

.avatar-img {
  width: 2.4em;
  border-radius: 50%;
  cursor: pointer;
}

.avatar-img-btn{
  margin: 1.75em 0;
  border: none;
  padding: 0.25em;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.avatar-img-btn .icon-value{
  width:32px;
  height: 32px;
  border-radius:50%;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--clr-perma-divier)
}

@media screen and (max-width: 840px) {
  .sidebar-wrapper {
    flex-direction: row;
    align-items: center;
    height: initial;
    border-radius: 0px;
  }
  .logo-wrapper{
    margin-right: auto;
    margin-bottom: initial;
    width:5em;
    height:5em;
  }
  .divider{
    width: 1px;
    height: initial;
   align-self: stretch;
  }
  .logo-img{
    width: 31px;
  height: 29px;
  }
}
