.sidebar-wrapper {
  position: sticky;
  display: flex;
  top: 0px;
  background-color: var(--clr-side-bar);
  flex-direction: column;
  z-index: 20;
  height: 100vh;
  border-radius: 0px 20px 20px 0px;
  transition: background 300ms ease;
}

.logo-wrapper {
  position: relative;
  width: 6.4375em;
  height: 6.4375em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-purple-main);
  border-radius: 0px 20px 20px 0px;
  margin-bottom: auto;
}

.logo-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 50%;
  background-color: var(--clr-purple-sec);
  border-radius: 20px 0;
}

.logo-img {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 37px;
}

.theme-btn {
  margin: 1.75em 0;
  border: none;
  padding: 0.25em;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.theme-btn:hover img {
  transform: rotate(45deg);
  transition: transform 300ms ease;
}
.avatar-img-wrapper {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--clr-perma-divider);
  padding: 1.8em 0px;
  position: relative;
}
.avatar-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.pop-logout {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-logout-bg);
  color: var(--clr-main-text);
  height: 14em;
  padding: 3em;
  bottom: 2em;
  width: 25em;
  left: 120px;
  box-shadow: var(--shadow-drop-dwn);
  border-radius: 10px;
  transition: background 300ms ease, color 300ms ease, box-shadow 300ms ease;
}
.sign-out-btn {
  color: var(--clr-perma-white);
  background-color: var(--clr-purple-main);
  transition: color 300ms ease, background 300ms ease;
}

.sign-out-btn:hover {
  background-color: var(--clr-purple-sec);
}
.pop-logout.logout-open {
  display: flex;
  visibility: visible;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.greeting-logout {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1em;
}

@media screen and (max-width: 1100px) {
  .sidebar-wrapper {
    flex-direction: row;
    align-items: center;
    height: initial;
    border-radius: 0px;
  }
  .logo-wrapper {
    margin-right: auto;
    margin-bottom: initial;
    width: 5em;
    height: 5em;
  }
  .pop-logout {
    top: 5em;
    padding: 2em;
    left: -14.5em;
    height: 12em;
    width: 20em;
  }
  .greeting-logout {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
  }
  .logo-img {
    width: 31px;
    height: 29px;
  }
  .avatar-img-wrapper {
    border-top: initial;
    border-left: 1px solid var(--clr-perma-divider);
    padding: 0 1.5em;
    margin-left: 0.85em;
    height: 5em;
  }
  .sidebar-wrapper > :nth-child(2) {
    margin: 0 1.75em;
  }
}

@media screen and (max-width: 768px) {
  .logo-wrapper {
    margin-right: auto;
    margin-bottom: initial;
    width: 5em;
    height: 4.5em;
  }
  .avatar-img-wrapper {
    height: 4.5em;
  }
  .avatar-img {
    height: 32px;
    width: 32px;
  }

  .pop-logout {
    top: 4.5em;
    left: -15em;
  }
}

@media screen and (max-width: 440px) {
  .pop-logout {
    padding: 1em;
    height: 10em;
  }
  .greeting-logout {
    font-size: 1rem;
  }
}
