.invoice-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 45.625em;
  height: 100%;
  margin: 0px auto;
}

.home-link-wrapper {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  padding:1em;
  padding-left:initial;
  margin-bottom: 2em;
  text-decoration: none;
  color: var(--clr-main-text);
  font-weight: 700;
  transition: color 300ms ease;
}

.left-arrow-icon {
  margin-right: 1.5em;
}

.invoice-footer{
  display: none;
}

@media screen and (max-width:768px) {
  .invoice-footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    gap: 0.5rem;
    padding: 1.5em;
    background-color: var(--clr-sec-bg);
    margin-top: 2em;
   
  }
}