.loading-state{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(50%,-50%);
}

.loading-container{
    position:relative;
    width:3em;
    height: 3em;
}
.circle-loader{
    display: block;
    width:3em;
    height: 3em;
    border:5px solid var(--clr-form-border);
    border-top: 8px solid var(--clr-purple-main);
    border-bottom: 8px solid var(--clr-purple-main);
    border-radius: 50%;
    position: absolute;
}
