@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

.login-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin: 0px auto;
}
.login-head-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login-img {
  height: 40em;
  width: 40em;
}

.login-header {
  font-family: "Playfair Display", serif;

  color: var(--clr-purple-main);
  cursor: default;
  font-weight: 400;
  font-size: 6rem;
  position: absolute;
  top: 10px;
  left: 1em;
  margin-bottom: 0.5em;
}

.login-main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1em;
}
.login-main-content h3 {
  font-size: 3rem;
  cursor: default;

  color: var(--clr-login-head);
}

.login-main-content p {
  font-size: 1.5rem;
  cursor: default;
  color: var(--clr-login-text);
}

.login-btn {
  color: var(--clr-purple-main);
  font-size: 1rem;
  position: relative;
  border: 2px solid var(--clr-purple-main);
  background-color: var(--clr-purple-main);
  padding: 1rem 5rem;
  margin-top: 3em;
  position: relative;
  align-self: center;
  overflow: hidden;
  margin-right: 10em;
}
.login-btn span {
  position: relative;
  z-index: 2;
  color: var(--clr-purple-main);
}

.login-btn::before {
  content: "";
  position: absolute;
  width: 250px;
  display: inline-block;
  border-radius: 32%;
  top: -100%;
  left: -10%;
  height: 250px;
  background-color: var(--clr-main-bg);
  transition: width 500ms ease-in-out;
}

@keyframes spin {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  100% {
    transform: translateX(100%) rotate(200deg);
  }
}
.login-btn:hover::before {
  animation: spin 1.4s ease-in-out forwards;
}
.login-btn:hover span {
  color: var(--clr-perma-login-text);
  transition: color 1.4s ease-in;
}

.login-btn:focus::before {
  animation: spin 800ms ease-in-out forwards;
}
.login-btn:focus span {
  color: var(--clr-perma-login-text);
  transition: color 800ms ease;
}

.cross-icon-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  transform: rotate(45deg);
  width: 15px;
  cursor: pointer;
  height: 15px;
}

.login-modal {
  background: var(--clr-logout-bg);
  position: fixed;
  top: 30%;
  width: 100%;
  max-width: 30em;
  margin: 0 1.5em;
  border-radius: 8px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 30;
}

.login-greeter {
  font-size: 1.8rem;
  text-align: center;

  color: var(--clr-login-head);
  line-height: 1.25;
  margin-bottom: 0.5em;
}
.login-greeter span {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}
.login-divider {
  width: 100%;
  background-color: var(--clr-login-divider);
  height: 1px;
}

.login-description {
  margin-top: 1em;
  line-height: 1.5em;
  color: var(--clr-login-text);
}

.google-btn {
  background-color: var(--clr-purple-main);
  display: flex;
  align-items: center;
  color: var(--clr-perma-white);
  padding: 1em 1.25em;
  margin-top: 3em;
}

.google-btn:hover {
  background-color: var(--clr-purple-sec);
}
.google-btn span {
  margin-left: 1em;
}

@media screen and (max-width: 1220px) {
  .login-wrapper {
    align-items: center;
  }
  .login-main-content h3 {
    font-size: 2.5rem;
  }

  .login-main-content p {
    font-size: 1.25rem;
  }
  .login-img {
    height: 32em;
    width: 32em;
  }
}

@media screen and (max-width: 1100px) {
  .login-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .login-main-content h3 {
    align-self: flex-end;
    margin-top: 3em;
  }

  .login-main-content p {
    align-self: flex-end;
    justify-self: start;
  }
  .login-img {
    align-self: flex-start;
    align-content: flex-start;
  }
  .login-btn {
    margin-top: 1em;
    align-self: flex-end;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .login-main-content h3 {
    font-size: 2rem;
  }
  .login-header {
    font-size: 4rem;
  }

  .login-main-content p {
    font-size: 1rem;
  }
  .login-img {
    height: 25em;
    width: 100%;
  }

  .login-btn {
    padding: 1em 4em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 550px) {
  .login-btn {
    padding: 1em 4em;
    align-self: center;
  }
}
