.dropdown-option{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.label-option{
    font-family: "Spartan", sans-serif;
    transition: color 0.3s ease 0s;
    font-size: 0.75rem;
    line-height: 1.125;
    letter-spacing: -0.25px;
    color:var(--clr-main-text);;
    margin-left: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: -1px;

}

.input-options{
  position:relative;
  left:15px;
  visibility: hidden;
}
.fa-check{
    color:#ffffff;
    visibility: hidden;
}
.checkbox{
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    border: transparent;
    border-radius: 2px;
    background: var(--clr-chk-box);
}

.input-options[type=checkbox]:checked + span {
    background-color:var(--clr-purple-main);

}
.input-options[type=checkbox]:checked + span > .fa-check{
    visibility: initial;
    font-size: 0.75rem;
}
.checkbox:hover{
    border: 1px solid var(--clr-purple-main);
}