.home-header{
  width: 100%;
max-width: 45.625rem;
height: 100%;
margin: 0px auto;
}

.invoice-header{
    font-size: 2rem;
    color:#0c0e16;
    font-family: "Spartan", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: -1px;

}

.invoice-msg{
    font-size: 0.75rem;
    line-height: 1.125;
    letter-spacing: -0.25px;
    color:#888eb0;
}

