.home-header{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
}

.header-text{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.invoice-header{
    font-size: 2rem;
    color:var(--clr-main-text);
    font-family: "Spartan", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: -1px;
    margin-bottom: 0.5em;

}

.invoice-msg{
    font-size: 0.75rem;
    line-height: 1.125;
    letter-spacing: -0.25px;
    color:var(--clr-sec-text);
}

/* when browse size is below 540px */
@media screen and (max-width: 540px) {
   .invoice-header{
       font-size: 1.25rem;
   }
   
}