.invoiceItem {
  display: grid;
  grid-template-columns: 5em 9em 1fr min-content min-content min-content;
  grid-template-rows: min-content;
  column-gap: 1em;
  width: 100%;
  align-items: center;
  background-color: var(--clr-sec-bg);
  border-radius: 8px;
  padding:  1.5em;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 1em;
  transition: background 300ms ease,border 300ms ease;
  
}

.invoiceItem:hover{
    border: 1px solid  var(--clr-purple-main);
}
.invoiceItem-header {
  color: var(--clr-main-text);;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.1;
  letter-spacing: -0.63px;
  transition: color 300ms ease;
}
.invoiceItem-header span {
  color: var(--clr-perma-shade);
  transition: color 300ms ease;
}

.invoiceItem-date,
.invoiceItem-client {
  color: var(--clr-sec-text);
  font-size: 0.75rem;
  line-height: 1.125;
  letter-spacing: -0.25px;
  transition: color 300ms ease;
}

.invoiceItem-total {
  margin-right: 1em;
  color: var(--clr-main-text);
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.63px;
  transition: color 300ms ease;
}

.invoiceItem-total span{
    font-size: 1.2rem;
}


