@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Spartan', sans-serif;
    background:#F8F8FB;
}